body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(31, 30, 30);
    margin : 8rem;
}

input {
    width: 20rem;
    display: block;
    margin-bottom : 1rem;
}

form{
    width:30rem;
    background-color: white;
    margin : 3rem auto;
    padding : 1rem;
    border-radius:5px;
   
}

label{
    margin-bottom: 0.5rem;
    display: block;
}

input{
    width:100%;
    display:block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.25rem;
    color: rgb(183, 184, 183);
}

input:focus{
    background-color: rgb(119, 100, 255);
    color:rgb(32, 5, 63);
    border-color: rgb(32,6, 44);

}

button{
    display: block;
    font: inherit;
    background-color: rgb(32, 32, 64);
    color: white;
    border: 1px solid rgb(23, 3, 46);
    padding : 0.5rem 1.5rem; 
    border-radius : 4px;
    cursor: pointer;
}

button:hover{
    background-color: darkblue;
    border-color:rgb(52, 42, 66);
}


